$primaryTextColor: #757575;
$secondaryTextColor: #212121;
$mainWhiteColor: #ffffff;
$mainAccentColor: #2196f3;
$greyColor: #f5f4fa;
$mainIconColor: #afb1b8;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
