.features {
  margin-bottom: -30px;
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.features__item {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-left: 30px;

    flex-basis: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    flex-basis: calc((100% - 120px) / 4);
  }
}

.features__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: $greyColor;
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-bottom: 10px;

  color: $secondaryTextColor;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
