.features {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;

  @extend %list;
}

.features__item {
  margin-right: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.features__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: $greyColor;
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-bottom: 10px;

  color: $secondaryTextColor;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
